@inject IViewProductsByNameUseCase ViewProductByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ProductListItemComponent ListOfProducts="listProducts" />
    </tbody>
</table>


@code {
    private List<Product> listProducts = new List<Product>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected async override Task OnParametersSetAsync()
    {
        listProducts = (await ViewProductByNameUseCase.ExecuteAsync(SearchTerm)).ToList();
    }
}
